@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}

aside {
  @apply bg-white border-r shadow-sm;
}

button.active {
  @apply bg-red-600 text-white;
}

.card {
  @apply bg-white shadow-md rounded p-4;
}

h1, h2, h3 {
  @apply text-red-600 font-semibold;
}
